.playlistBar {
    margin: .8% 0 .4% 0;
    padding: .5rem 1rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: flex-end;
    align-items: center;
}

.title {
    position: absolute;
    left: 1%;
    font-weight: bold;
}

.btnEditTitle {
    position: absolute;
    left: 150px;
}

.btnEditPlaylist {
    margin: 0 0 0 1%;
}

.bg-light {
    background-color: #f1f1f1 !important;
    border-top: .08px solid rgb(194, 194, 194);
    border-bottom: .02px solid rgb(223, 223, 223);
}