body {
    background: rgb(226, 206, 206);
}

header {
    background: rgb(221, 219, 212);
}

nav {
    background: rgb(153, 140, 140);
    background: rgb(231, 123, 123);
}

div {
    background: rgb(231, 212, 212);
}

footer {
    background: rgb(218, 207, 207);
}

h1, h2, h3, h4, h5, h6 {
    color: rgb(5, 18, 44);
}

p {
    color: rgb(36, 36, 78);
}

.title {
    color: brown;
    text-align: center;
}