/* /* .cardBox+.cardBox { */
/* height: 100%; */
/* width: 210px; */
/* } */

.cardBox {
    margin: 0 .5% 3% 0;
}

.cardBox:first-of-type {
    margin-left: 0;
}

.cardBox:last-of-type {
    margin-right: 0;
}


.videoRow {
    background: rgb(255, 255, 255);
    width: 100%;
}