.navbar-light {
    background-color: rgb(182, 36, 36);
    /* height: 54px; */
    /* line-height: 14px; */
    letter-spacing: 0.1em;
}

.navbarTop {
    /* padding: 0 20% 0 20%; */
    margin: 0 30% 0 30%;
}

.nav-link {
    margin: 0% 30% 0 20%;
}

body {
    background: rgb(23, 46, 60);
}

.navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}