body {
    background: rgb(119, 45, 45);
}

header {
    background: rgb(153, 140, 140);
}

nav {
    background: rgb(153, 140, 140);
}

div {
    background: rgb(153, 140, 140);
}

footer {
    background: rgb(153, 140, 140);
}

h1, h2, h3, h4, h5, h6 {
    color: rgb(161, 71, 44);
}

p {
    color: rgb(36, 36, 78);
}