@import url('https://fonts.googleapis.com/css?family=Audiowide|Orbitron:700&display=swap');

/* .navbar-light .navbar-brand {
    color: rgba(255, 0, 0, 0.9);
} */

.logo-PrtOne {
    text-align: left;
    float: left;
    font-family: 'Orbitron', sans-serif;
}

.logo-PrtTwo {
    text-align: right;
    float: right;
    font-family: 'Audiowide', cursive;
    font-weight: bolder;
}

a {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
}
